.*
*~
nbproject
nb-configuration.xml
Session.vim
*.tmproj
*.tmproject
tmtags
Thumbs.db
Desktop.ini

# ignore Composer downloads
/vendor/*
*/vendor/*
composer.phar

# keep some hiddens
!.htaccess
!/.gitignore
!/.travis.yml
